:root {
    --darkest: #0B0C10;
    --dark: #1f2833;
    --light: #C6C6C7;
    --turquoise: #66FCF1;
    --teal: #45A29E;
}

body {
    color: white;
}

.container {
    margin-left: auto;
    margin-right: auto;
}

.page-title {
    font-size: xx-large;
    font-weight: bold;
}

.turquoise {
    color: var(--turquoise);
}

.teal {
    color: var(--teal);
}