.footer {
    padding: 1.5%;
    font-size: 1.5rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    padding: 4% 0 4% 0;
}

.footer div {
    display: flex;
    justify-content: center;
    gap: 3%;
}

.footer > :first-child {
    display: flex;
    justify-content: center;
    margin: 0;
}

.footer > :last-child {
    margin-top: 2%;
}

.icon {
    border-radius: 100%;
    background-color: white;
}
