---

---

<footer class="flex flex-col gap-2 text-center p-6 bg-ctp-crust font-black">
    <div class="flex gap-4 justify-center text-xl">
        <a href="https://github.com/psoder">GitHub</a>
        <a href="">LinkedIn</a>
        <a href="">Email</a>
    </div>
</footer>
