---

---

<footer class="bg-ctp-crust p-3">
    <div class="mx-auto flex max-w-5xl flex-col gap-2 text-center">
        <div class="flex justify-center gap-4 opacity-90">
            <a class="transition hover:opacity-100" href="https://github.com/psoder">GitHub</a>
            <a class="transition hover:opacity-100" href="https://linkedin.com/in/psoder"
                >LinkedIn</a
            >
            <a class="transition hover:opacity-100" href="mailto:pontus@psoder.net">Email</a>
        </div>
    </div>
</footer>
