---

---

<footer class="flex flex-col gap-2 text-center p-6 bg-ctp-crust">
    <div class="flex gap-4 justify-center opacity-90">
        <a href="https://github.com/psoder">GitHub</a>
        <a href="https://linkedin.com/in/psoder">LinkedIn</a>
        <a href="mailto:pontus@psoder.net">Email</a>
    </div>
</footer>
