---

---

<header class="bg-ctp-crust p-3">
    <nav class="mx-auto flex max-w-5xl items-center gap-6 text-xl">
        <a href="/" class="mr-auto font-black">psoder.net</a>
        <a href="/blog" class="font-semibold">Blog</a>
    </nav>
</header>
