---
import { getCollection } from "astro:content";

// oxlint-disable-next-line unicorn/no-await-expression-member
const posts = (await getCollection("blog"))
    .filter((post) => !post.id.startsWith("."))
    .toSorted(
        (a, b) =>
            new Date(b.data.publicationDate).getTime() - new Date(a.data.publicationDate).getTime()
    );

const formatDate = (date: string): string =>
    new Date(date).toLocaleDateString("en-US", {
        year: "numeric",
        month: "long",
        day: "numeric",
    });
---

<ul>
    {
        posts.map((post) => (
            <li>
                <a
                    href={`/blog/${post.data.slug}`}
                    class="hover:bg-ctp-mantle p-2 px-4 rounded-lg font-medium flex justify-between gap-4 items-center"
                >
                    {post.data.title}

                    <time class="text-sm opacity-60 shrink-0" datetime={post.data.publicationDate}>
                        {formatDate(post.data.publicationDate)}
                    </time>
                </a>
            </li>
        ))
    }
</ul>
