@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #252525;
    --secondary: #000000;
    --highlight: #dd2569;
    --text: #e0e0e0;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
        Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}
