.container {
  margin: 5% 10% 5% 10%;
}

.container > section {
  margin-top: 10%;
}

.container h1 {
    font-size: 4rem;
  margin-top: 0;
  font-weight: 900;
  line-height: normal;
}

.intro {
  display: grid;
  margin-left: 20%;
  margin-right: 20%;
  justify-content: center;
  text-align: center;
}

.intro p {
  line-height: 1.8;
  font-size: 1.5rem;
}

.about {}

.projects {}